body {
    font-family: Calibri, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}
header nav ul {
    list-style: none;
    padding: 0;
}
header nav ul li {
    display: inline;
    margin: 0 10px;
}
header nav ul li a {
    color: white;
    text-decoration: none;
}
.footer-section {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 0;
}
.content > * {
    margin: 20px;
}
.image-container1 {             /* For home page */
    display: flex;             
    justify-content: center;
    gap: 20px;                 
    align-items: center;          
}
.image-container2 {
    display: flex;              /* Enable Flexbox */
    justify-content: left;
    gap: 20px;                  /* Add space between the images */
    align-items: center;          
}
.responsive-image48p {
    max-width: 48%;             /* Ensure images don't take up the full width */
    height: auto;               /* Maintain aspect ratio */
}
.responsive-image30p {
    max-width: 30%;             
    height: auto;               
}
.responsive-image70p {
    max-width: 70%;             
    height: auto;               
}
.responsive-image40p {
    max-width: 40%;             
    height: auto;               
}
.responsive-image60p {
    max-width: 60%;             
    height: auto;               
}
.responsive-image20p {
    max-width: 20%;             
    height: auto;               
}

.image-containertopleft {
    display: flex;
    justify-content: flex-start; /* Align items to the left */
    /*align-items: flex-start;      Align items to the top */
    align-items: center;
    gap: 20px;                   /* Optional: Add space between images */
    padding-bottom: 10px;
}
.image-containerbottomleft {
    display: flex;
    justify-content: flex-start; /* Align items to the left */
    /*align-items: flex-end;       /* Align items to the bottom */
    align-items: center;
    gap: 20px;                   /* Optional: Add space between images */
    padding-top: 10px;
}
